FastAPI
uvicorn
pydantic
pydantic-settings
SQLAlchemy
psycopg[binary]
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
scikit-learn
xgboost
pandas
numpy
joblib
matplotlib
seaborn
tensorflow
torch
torchvision
torchaudio
PennyLane
qiskit
pytest
httpx
python-dotenv
